<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d.mapper.UserMapper">
	<select id="getAll" resultType="User">
		SELECT * FROM user
	</select>
	<select id="listByName" resultType="com.d.entity.User">
		SELECT * FROM user 
		WHERE 
		name like "%"#{name}"%" 
		AND name like concat(concat('%',#{name}),'%')
		AND name like '%${name}%' 
		AND name like CONCAT('%','${name}','%')
	</select>
</mapper>